<div class="display-menu" id="display-menu" role="dialog" aria-label="Display settings" hidden>
    <fieldset>
        <legend>Text size</legend>
        <label><input type="radio" name="textSize" value="sm"> Small</label>
        <label><input type="radio" name="textSize" value="md"> Default</label>
        <label><input type="radio" name="textSize" value="lg"> Large</label>
        <label><input type="radio" name="textSize" value="xl"> Extra large</label>
    </fieldset>
    <fieldset>
        <legend>Theme</legend>
        <label><input type="radio" name="theme" value="dark"> Dark</label>
        <label><input type="radio" name="theme" value="light"> Light <span class="display-hint">easier to read on projectors</span></label>
        <label><input type="radio" name="theme" value="system"> Follow system</label>
    </fieldset>
    <fieldset>
        <legend>Contrast</legend>
        <label><input type="radio" name="contrast" value="standard"> Standard</label>
        <label><input type="radio" name="contrast" value="high"> High</label>
    </fieldset>
    <fieldset>
        <legend>Motion</legend>
        <label><input type="radio" name="motion" value="system"> Follow system</label>
        <label><input type="radio" name="motion" value="reduce"> Reduce</label>
    </fieldset>
</div>
